SCMONLINE/SCMONLINE.Web/Connected Services/MailServicesPTM/MessageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ptmkpwa12dev08.pertamina.com/WCF_Messaging/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" minOccurs="0" name="SendMessageResult" nillable="true" type="q1:Common.ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageAtt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" minOccurs="0" name="Attachment" nillable="true" type="q2:ArrayOfCommon.AttachmentDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageAttResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" minOccurs="0" name="SendMessageAttResult" nillable="true" type="q3:Common.ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" minOccurs="0" name="CheckStatusResult" nillable="true" type="q4:Common.ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>