SCMONLINE/SCMONLINE.Web/Connected Services/MailServicesPTM/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_MessagingDirect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Common.ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatetimeDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Common.ResponseMessage" nillable="true" type="tns:Common.ResponseMessage" />
  <xs:complexType name="ArrayOfCommon.AttachmentDoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Common.AttachmentDoc" nillable="true" type="tns:Common.AttachmentDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommon.AttachmentDoc" nillable="true" type="tns:ArrayOfCommon.AttachmentDoc" />
  <xs:complexType name="Common.AttachmentDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="filebyte" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Common.AttachmentDoc" nillable="true" type="tns:Common.AttachmentDoc" />
</xs:schema>